<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.css">
    <link rel="canonical" href="https://codepen.io/nakome/pen/vmKwQg">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
  <script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;

    // or instead:
    // var maxDate = dtToday.toISOString().substr(0, 10);

    alert(maxDate);
    $('#txtDate').attr('min', maxDate);
});
</script>
<script>
    $(function(){
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#txtDate').attr('min', maxDate);

        // Format the date from category[0].discountValidity
        var discountValidityDate = new Date('<%= category[0].discountValidity %>');
        var validityDate = discountValidityDate.getFullYear() + '-' + 
                           ('0' + (discountValidityDate.getMonth() + 1)).slice(-2) + '-' + 
                           ('0' + discountValidityDate.getDate()).slice(-2);
        $('#txtDate').val(validityDate);
    });
</script>

<style>
    .button-spacing {
        margin-right: 10px;
        /* Adjust this value to increase or decrease space */
    }
</style>

</head>
<body>

    <%- include('./includes/sidebar.ejs') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit CategoryOffer </h2>
                    <p>edit category offer</p>
                </div>
            </div>
            <div class="row" style="margin: 50px;">
                <div class="col-md-9">
                    <div class="card" style="padding: 25px;">
                        <h4 class="card-title pb-5 text-center">Edit Category Offer</h4>
                        <form class="form-sample" id="categoryOfferForm" method="post">
            
                            <div class="mb-6"></div>
                            <% if (typeof message !== 'undefined') { %>
                                <h4 style="color: red;"><%= message %></h4>
                            <% } %>
                            <div class="mb-3">
                                <label class="form-label">Category Name</label>
                                <select class="form-select" name="categoryId">
                                    <% category.forEach(function(Category) { %>
                                        <option value="<%=Category._id %>" ><%= Category.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Validity</label>
                                <input type="Date" placeholder="" class="form-control" name="validity" id="txtDate"  style="width: 380px;">
                                <p class="text-danger"></p>
                            </div>
                            
            
                            <div class="mb-3">
                                <label class="form-label"> Discount Percentage</label>
                                <input type="number" placeholder="0" class="form-control" name="discountPercentage" value="<%=category[0].discountPercentage%>" id="" onkeyup="discountValidator()" style="width: 380px;">
                                <p id="error" class="text-danger"></p>
                            </div>
            
                            <button type="submit" class="btn btn-outline-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>
    </main> 

    <script src="../admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/vendors/select2.min.js"></script>
    <script src="../admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="../admin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../admin/js/main.js" type="text/javascript"></script>


    <script>
        
    
            
        function discountValidator() {
            const discountPercentage = document.querySelector('[name="discountPercentage"]');
            const discountPercentageValue = discountPercentage.value.trim();
            const error = discountPercentage.parentElement.querySelector('p');

            error.innerText = '';

            if (discountPercentageValue === '') {
                error.innerHTML = 'Discount percentage is required';
                error.style.color = 'red';
                discountPercentage.style.border = "solid 2px red";
                return false;
            }
            if (discountPercentageValue <= 0 || discountPercentageValue >= 99) {
                error.innerHTML = 'Discount percentage should be between 1 and 99';
                error.style.color = 'red';
                discountPercentage.style.border = "solid 2px red";
                return false;
            }
            error.innerHTML = "";
            error.style.color = "green";
            discountPercentage.style.border = "solid 2px green";
            return true;
        }    
    </script>

<script>
    $(document).ready(function() {
        $('#categoryOfferForm').submit(function(event) {
            event.preventDefault();

            // Get form data
            var formData = $(this).serialize();

            // Make AJAX request
            $.ajax({
                type: 'POST',
                url: '/admin/posteditCatOffer',
                data: formData,
                success: function(response) {
                    // Show success message using SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Category offer updated successfully!',
                    })
                    .then(()=>{
                      location.href = '/admin/loadoffer'
                    })
                },
                error: function(error) {
                    // Show error message using SweetAlert2
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while updating the category offer.',
                    });
                }
            });
        });
    });
</script>

</body>

</html>                 