<%- include('../public/includes/header.ejs') %>

    <style>
        .empty-cart width 10vw margin 0 auto text-align center font-family 'Maison Neue'

        font-weight 300 svg width 100px padding 5rem 3rem #oval,
        #plus,
        #diamond,
        #bubble-rounded animation plopp 4s ease-out infinite for i in (1..16) &:nth-child({
            i
        }) animation-delay -240ms * i #bg-line &:nth-child(2) fill-opacity .3 &:nth-child(3) fill-opacity .4 @keyframes plopp 0% transform translate(0, 0) opacity 1 100% transform translate(0, -10px) opacity 0 h3 font-size 2rem line-height 2rem margin 0 padding 0 font-weight 600
        /* p
  color rgba(0,0,0,0.5)
  font-size 18px
  line-height 24px
  max-width 30%
  margin 1.25rem auto 0 auto
   */
        body background #f2f2f2
    </style>




    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <%if(cart.length!=0){%>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="header" style="width: 200px">Product</th>
                                        <th>quantity</th>
                                        <th> sub total</th>
                                        <th>Remove Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cart.forEach(function(cart,index) {%>
                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <a href="/productPage?id=<%=cart.carted._id %>"><img
                                                            src="../public/product-images/create-images/<%= cart.carted.images[0]%>"
                                                            width="50px" height="80px" alt=""></a>
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>
                                                        <%=cart.carted.name%>
                                                    </h6>
                                                    <h5>
                                                        <% if(cart.carted.discountedPrice>0){ %>
                                    <h5><i class="fa fa-inr" aria-hidden="true"></i>
                                      <%=cart.carted.discountedPrice%></h5>
                                    <% }else{ %>
                                    <h5><i class="fa fa-inr" aria-hidden="true"></i>
                                        <%=cart.carted.price%></h5>
                                      <% } %>
                                                    </h5>
                                                </div>
                                            </td>

                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <button
                                                        class="reduced items-count btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m btn btn-success btn-sm"
                                                        onclick="changeQuantity('<%= cart._id %>','<%=cart.item%>','<%=user._id%>','<%=index%>',-1)"><i
                                                            class="fs-16 zmdi zmdi-minus">-</i></button>
                                                    <input type="number" name="qty" id="qty-val-<%= cart.item %>"
                                                        maxlength="12" title="Quantity:"
                                                        class="qty-val mtext-104 cl3 txt-center num-product"
                                                        value="<%= cart.quantity %>" readonly><span
                                                        id="qty-val-<%= cart.item %>" class="qty-val"></span>
                                                    <button
                                                        class="increase items-count btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m btn btn-success btn-sm"
                                                        onclick="changeQuantity('<%= cart._id %>','<%=cart.item%>','<%=user._id%>','<%=index%>',1)"><i
                                                            class="fs-16 zmdi zmdi-plus">+</i></button>
                                                </div>
                                            </td>
                                            <td class="column-4">
                                                <span id="subTotal-<%=cart.item%>" class="subTotalVal">₹<%= cart.total %></span> 

                                            </td>
                                            <td class="action" style="padding-left: 40px; font-size: 20px;"
                                                data-title="Remove">
                                                <a href="#" class="text-muted"
                                                    onclick="deleteProduct('<%=cart._id%>','<%=user._id%>','<%=cart.item%>','<%= cart.quantity %>')"><i
                                                        class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>


                                </tbody>
                            </table>
                    </div>


                    

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                   
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <% cart.forEach(function(cart,index) {%>
                        <ul>

                        <% if(cart.carted.discountedPrice>0){ %>
                            <li>Discounted Price<span id="dis">₹<%=cart.carted.discountedPrice%></span></li>
                            <li>Original Product Price<span id="pr">₹<%=cart.carted.price%></span></li> 
                                    <% }else{ %>
                            <li>Product Price<span id="pr">₹<%=cart.carted.price%></span></li> 
                            <li>Quantity<span id="quantity"><%=cart.quantity%></span></li>
                            <hr>
                        <% } %>
                        <% }) %>
                            <li>Cart Total<span id="total">₹<%=cartTotal%></span></li>
                        </ul>
                    
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>


                <%}else{%>

                    <div class="empty-cart">

                        <svg viewBox="656 573 264 182" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <rect id="bg-line" stroke="none" fill-opacity="0.2" fill="#FFE100" fill-rule="evenodd"
                                x="656" y="624" width="206" height="38" rx="19"></rect>
                            <rect id="bg-line" stroke="none" fill-opacity="0.2" fill="#FFE100" fill-rule="evenodd"
                                x="692" y="665" width="192" height="29" rx="14.5"></rect>
                            <rect id="bg-line" stroke="none" fill-opacity="0.2" fill="#FFE100" fill-rule="evenodd"
                                x="678" y="696" width="192" height="33" rx="16.5"></rect>
                            <g id="shopping-bag" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                transform="translate(721.000000, 630.000000)">
                                <polygon id="Fill-10" fill="#FFA800" points="4 29 120 29 120 0 4 0"></polygon>
                                <polygon id="Fill-14" fill="#FFE100"
                                    points="120 29 120 0 115.75 0 103 12.4285714 115.75 29"></polygon>
                                <polygon id="Fill-15" fill="#FFE100" points="4 29 4 0 8.25 0 21 12.4285714 8.25 29">
                                </polygon>
                                <polygon id="Fill-33" fill="#FFA800"
                                    points="110 112 121.573723 109.059187 122 29 110 29"></polygon>
                                <polygon id="Fill-35" fill-opacity="0.5" fill="#FFFFFF"
                                    points="2 107.846154 10 112 10 31 2 31"></polygon>
                                <path
                                    d="M107.709596,112 L15.2883462,112 C11.2635,112 8,108.70905 8,104.648275 L8,29 L115,29 L115,104.648275 C115,108.70905 111.7365,112 107.709596,112"
                                    id="Fill-36" fill="#FFE100"></path>
                                <path
                                    d="M122,97.4615385 L122,104.230231 C122,108.521154 118.534483,112 114.257931,112 L9.74206897,112 C5.46551724,112 2,108.521154 2,104.230231 L2,58"
                                    id="Stroke-4916" stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                                <polyline id="Stroke-4917" stroke="#000000" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" points="2 41.5 2 29 122 29 122 79"></polyline>
                                <path
                                    d="M4,50 C4,51.104 3.104,52 2,52 C0.896,52 0,51.104 0,50 C0,48.896 0.896,48 2,48 C3.104,48 4,48.896 4,50"
                                    id="Fill-4918" fill="#000000"></path>
                                <path d="M122,87 L122,89" id="Stroke-4919" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <polygon id="Stroke-4922" stroke="#000000" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" points="4 29 120 29 120 0 4 0"></polygon>
                                <path
                                    d="M87,46 L87,58.3333333 C87,71.9 75.75,83 62,83 L62,83 C48.25,83 37,71.9 37,58.3333333 L37,46"
                                    id="Stroke-4923" stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                                <path d="M31,45 C31,41.686 33.686,39 37,39 C40.314,39 43,41.686 43,45" id="Stroke-4924"
                                    stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                                <path d="M81,45 C81,41.686 83.686,39 87,39 C90.314,39 93,41.686 93,45" id="Stroke-4925"
                                    stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                                <path d="M8,0 L20,12" id="Stroke-4928" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <path d="M20,12 L8,29" id="Stroke-4929" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <path d="M20,12 L20,29" id="Stroke-4930" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <path d="M115,0 L103,12" id="Stroke-4931" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <path d="M103,12 L115,29" id="Stroke-4932" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                                <path d="M103,12 L103,29" id="Stroke-4933" stroke="#000000" stroke-width="3"
                                    stroke-linecap="round"></path>
                            </g>
                            <g id="glow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                transform="translate(768.000000, 615.000000)">
                                <rect id="Rectangle-2" fill="#000000" x="14" y="0" width="2" height="9" rx="1"></rect>
                                <rect fill="#000000"
                                    transform="translate(7.601883, 6.142354) rotate(-12.000000) translate(-7.601883, -6.142354) "
                                    x="6.60188267" y="3.14235449" width="2" height="6" rx="1"></rect>
                                <rect fill="#000000"
                                    transform="translate(1.540235, 7.782080) rotate(-25.000000) translate(-1.540235, -7.782080) "
                                    x="0.54023518" y="6.28207994" width="2" height="3" rx="1"></rect>
                                <rect fill="#000000"
                                    transform="translate(29.540235, 7.782080) scale(-1, 1) rotate(-25.000000) translate(-29.540235, -7.782080) "
                                    x="28.5402352" y="6.28207994" width="2" height="3" rx="1"></rect>
                                <rect fill="#000000"
                                    transform="translate(22.601883, 6.142354) scale(-1, 1) rotate(-12.000000) translate(-22.601883, -6.142354) "
                                    x="21.6018827" y="3.14235449" width="2" height="6" rx="1"></rect>
                            </g>
                            <polygon id="plus" stroke="none" fill="#7DBFEB" fill-rule="evenodd"
                                points="689.681239 597.614697 689.681239 596 690.771974 596 690.771974 597.614697 692.408077 597.614697 692.408077 598.691161 690.771974 598.691161 690.771974 600.350404 689.681239 600.350404 689.681239 598.691161 688 598.691161 688 597.614697">
                            </polygon>
                            <polygon id="plus" stroke="none" fill="#EEE332" fill-rule="evenodd"
                                points="913.288398 701.226961 913.288398 699 914.773039 699 914.773039 701.226961 917 701.226961 917 702.711602 914.773039 702.711602 914.773039 705 913.288398 705 913.288398 702.711602 911 702.711602 911 701.226961">
                            </polygon>
                            <polygon id="plus" stroke="none" fill="#FFA800" fill-rule="evenodd"
                                points="662.288398 736.226961 662.288398 734 663.773039 734 663.773039 736.226961 666 736.226961 666 737.711602 663.773039 737.711602 663.773039 740 662.288398 740 662.288398 737.711602 660 737.711602 660 736.226961">
                            </polygon>
                            <circle id="oval" stroke="none" fill="#A5D6D3" fill-rule="evenodd" cx="699.5" cy="579.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#CFC94E" fill-rule="evenodd" cx="712.5" cy="617.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#8CC8C8" fill-rule="evenodd" cx="692.5" cy="738.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#3EC08D" fill-rule="evenodd" cx="884.5" cy="657.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#66739F" fill-rule="evenodd" cx="918.5" cy="681.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#C48C47" fill-rule="evenodd" cx="903.5" cy="723.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="none" fill="#A24C65" fill-rule="evenodd" cx="760.5" cy="587.5"
                                r="1.5"></circle>
                            <circle id="oval" stroke="#66739F" stroke-width="2" fill="none" cx="745" cy="603" r="3">
                            </circle>
                            <circle id="oval" stroke="#EFB549" stroke-width="2" fill="none" cx="716" cy="597" r="3">
                            </circle>
                            <circle id="oval" stroke="#FFE100" stroke-width="2" fill="none" cx="681" cy="751" r="3">
                            </circle>
                            <circle id="oval" stroke="#3CBC83" stroke-width="2" fill="none" cx="896" cy="680" r="3">
                            </circle>
                            <polygon id="diamond" stroke="#C46F82" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" fill="none" points="886 705 889 708 886 711 883 708"></polygon>
                            <path
                                d="M736,577 C737.65825,577 739,578.34175 739,580 C739,578.34175 740.34175,577 742,577 C740.34175,577 739,575.65825 739,574 C739,575.65825 737.65825,577 736,577 Z"
                                id="bubble-rounded" stroke="#3CBC83" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" fill="none"></path>
                        </svg>

                        <h3>Your Cart is Empty</h3>
                        <p>Gusen fertelman jerting Klamm geragen, hund Freserling hussental men stark verbasen in
                            Untermerk.</p>
                    </div>
                    <!-- <a class="gray_btn flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5" href="/shop">Continue Shopping</a> -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/displayproducts">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
            </div>

            <% } %>
        </div>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        function deleteProduct(cartId, userId,proId,quantity,) {
            console.log('enter')
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                timer: 3000
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/deleteCart',
                        method: 'delete',
                        data: {
                            cartId: cartId,
                            userId:userId,
                            proId: proId,
                            quantity: quantity
                        },
                        success: (response) => {
                            if (response.status) {
                                location.reload()
                            }
                        }
                    })
                }
            })
        }



        function changeQuantity(cartId, proId, userId, index, count) {
            event.preventDefault();
            const quantity = document.getElementById(`qty-val-${proId}`).value
            count = parseInt(count)
            console.log("nahala");
            if (quantity == 1 && count == -1) {
                Swal.fire({
                    title: "Delete item from cart?",
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',

                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/change-product-quantity',
                            method: 'PUT',
                            data: {
                                cartId: cartId,
                                proId: proId,
                                userId: userId,
                                count: count,
                                quantity: quantity
                            },
                            success: (response) => {
                                console.log(response.status)
                                if (response.status) {
                                     location.reload() 
                                }
                            }
                        })
                    }
                })
            } else {
                $.ajax({
                    url: '/change-product-quantity',
                    method: 'PUT',
                    data: {
                        cartId: cartId,
                        proId: proId,
                        userId: userId,
                        count: count,
                        quantity: quantity
                    },
                    success: (response) => {
                        location.reload();
                        if (response.status == true) {
                            const qtyElem = document.querySelector(`#qty-val-${proId}`)
                            qtyElem.value = response.newQuantity
                            const subTotalVal = document.querySelector(`#subTotal-${proId}`)
                            subTotalVal.innerHTML = '₹' + response.newSubTotal
                            document.getElementById('total').innerHTML = '₹ ' + response.cartTotal
                        } else if (response.status == 'Out of stock') {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Out Of Stock',
                                showConfirmButton: false,
                                timer: 5000
                            })
                        }
                    }
                })      
            }
        }

        

        function applyCoupon(total) {
    console.log('keri')
            event.preventDefault();
            let couponCode = document.getElementById('couponCode').value
            console.log(couponCode)
            $.ajax({
                url: '/verifyCoupon/' + couponCode,
                method: 'GET',
                success: (response) => {
                    console.log(response)
                    if (response.status == true) {

                        $.ajax({
                            url: '/applyCoupon/' + couponCode,
                            method: 'GET',
                            success: (response) => {
                                console.log(response, '---');
                                if (response.status == true) {
                                    document.getElementById('couponErr').style.color = '#19ff11'
                                    document.getElementById('couponErr').innerText = "Coupon Applied SuccessFully"
                                    // document.getElementById('subTotal').innerText = total - response.discountAmount
                                    document.getElementById('total').innerText = '₹' + Math.floor(total - response.discountAmount)
                                    document.getElementById('totalVal').value = Math.floor(total - response.discountAmount)
                                    document.getElementById('couponOffer').innerText = response.discount + '%'
                                    document.getElementById('discountPercentage').value = response.discount
                                    document.getElementById('discountAmount').value = Math.ceil(response.discountAmount)
                                } else {
                                    document.getElementById('couponErr').style.color = "#ff0707"
                                    document.getElementById('couponErr').innerText = response.message
                                }
                            }
                        })
                    } else {
                        document.getElementById('couponErr').style.color = "#ff0707"
                        document.getElementById('couponErr').innerText = response.message

                        setTimeout(function () {
                            location.reload()
                        }, 5000)
                    }

                }
            })
        }

    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <%- include('../public/includes/footer.ejs') %>