<%- include('../public/includes/header.ejs')%>


<div>

<button type="button" class="site-btn" data-toggle="modal" data-target="#exampleModal1" style="margin-left: 800px; margin-top: 30px;">CHANGE ADDRESS</button></a>
<a href="/loadadd">
<button type="button" class="site-btn"> ADD NEW ADDRESS</button>
</a>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 150px ;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lavenderblush;">
            <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Times New Roman', Times, serif;">ADDRESS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="pop-up-list">
                    <div class="comment-list grid-view" style="height: 500px; overflow-y:scroll;">
                        <form id="addressForm" action="/changeAddress" method="POST">
                            <% address.forEach(function(address,index) {%>
                                <label for="addressRadio<%=index%>">Address</label>
                                <input type="radio" id="addressRadio{<%=index%>}" name="addressRadio" value="<%=address._id%>" onchange="this.form.submit()">
                                <br>
                            <div class="single-comment grid-item">
                                <div class="user justify-content-between d-flex">
                                <div class="desc">
                                    <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Name: <%=address.name%></h5>
                                    <h5>Number: <%=address.mobileNumber%></h5>
                                    <h5>Address: <%=address.address%></h5>
                                    <h5>City: <%=address.city%></h5>
                                    <h5>Street: <%=address.locality%></h5>
                                    <h5>Pin: <%=address.pincode%></h5>
                                    <h6>State:<%=address.state%></h6>
                                </div>
                                </div>
                            </div>
                            <br>
                            <% }) %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
<button type="button" class="site-btn"> ADD NEW ADDRESS</button>
</div> -->


<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="#">
                <div class="row">
                <%if(address[0]){%>
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Name<span>*</span></p>
                                    <input type="text"  class="form-control" style="border-color: black;" id="first" name="name" value="<%=address[0].name%>">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Mobile no<span>*</span></p>
                            <input type="text" class="form-control" style="border-color: black;" id="mobile" name="name" value="<%=address[0].mobileNumber%>">
                        </div>
                        <div class="checkout__input">
                            <p >Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add" style="border-color: black;" id="add1" name="address" value="<%=address[0].address%>">
                        </div>
                        <div class="checkout__input">
                            <p>locality<span>*</span></p>
                            <input type="text"  id="add2" name="locality" style="border-color: black;" value="<%=address[0].locality%>" >
                        </div>
                        <div class="checkout__input">
                            <p style>City<span>*</span></p>
                            <input type="text"  id="add3" name="city" style="border-color: black;" value="<%=address[0].city%>" >
                        </div>
                        <div class="checkout__input">
                            <p >Pincode<span>*</span></p>
                            <input type="text"  id="add4" name="pincode" style="border-color: black;" value="<%=address[0].pincode%>" >
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p >State<span>*</span></p>
                                    <input type="text"  id="add5" style="border-color: black;" name="state" value="<%=address[0].state%>" >
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                       
                        <div class="form-container p-t-75">
                            <div class="card" class="card" style=" background-color:  rgb(247, 238, 241); border-radius: 2px; margin-bottom: 100px;">
                                <div class="card-body">
                                    <form id="checkOut-form">
                                        <div class="order_box">
                                            <h2 class="card-title">Your Order</h2>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" style=" color: white; border-radius: 5px;"><h5>Product Total</h5></li>
                                                <% cart.forEach(function(cart,index) {%>
                                                <li class="list-group-item">
                                                    <a href="#" style="color: black;"><%=cart.carted.name%> 
                                                    <span class="middle" style="color: black;">x <%=cart.quantity%></span><br> 
                                                    <span class="last" style="color: black;">₹<%= cart.total %></span></a>
                                                </li>
                                                <% }) %>
                                            </ul>   
                                            <ul class="list list_2">
                                                <li><a href="#" class="sub" style="color:black">Subtotal <span id="subTotal">₹<%=total.cartTotal%></span></a></li>
                                                <li class="p-t-10"><b>Total: <span id="total"></span></b></li>
                                                <%if(address[0]){%>
                                                <input type="hidden" name="address" id="address" value="<%=address[0]._id%>" >
                                                <%}else{%>
                                                <%}%>
                                            </ul> 
                                            <div class="form-group row coupon_area p-t-15">
                                                <div class="col-sm-8">
                                                    <% if(couponList && couponList.length> 0) { %>
                                                        <select class="form-control" name="couponCode" id="couponCode" >
                                                            <option value="" disabled selected>select coupon code</option>
                                                            <% couponList.forEach(function(coupon) { %>
                                                                <option value="<%= coupon.couponCode %>">
                                                                    <%= coupon.couponCode %>
                                                                </option>
                                                                <% }); %>
                                                        </select>
                                                        <% } else { %>
                                                            <input type="text" class="form-control" placeholder="No coupons available" name="couponCode"
                                                                id="couponCode" disabled>
                                                            <% } %>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button class="hov-btn3"
                                                        style="width: 100%; height: 40px; border-radius: 5px; background-color: white; border-color:cornsilk; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" onclick="applyCoupon('<%=total.cartTotal%>')">Apply</button>
                                                </div>
                                                <div class="">
                                                    <button class="hov-btn3 "
                                                        style="width: 100%; height: 40px; margin-top: 20px; border-radius: 5px; background-color: white; border-color:cornsilk; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" onclick="removeCoupon()">Remove</button>
                                                </div>
                                            </div>
                                            <span id="couponErr"></span>                        
                                           
                                            
                                            <h4 class="p-b-10">Payment</h4>
                                            <div class="payment_item">
                                                <div class="radion_btn">
                                                    <input type="radio" id="f-option4" name="paymentOption" value="wallet" >
                                                    <label for="f-option4">Wallet</label>
                                                    <div class="check"></div>
                                                </div>
                                                <p>Pay  amount from your wallet</p>
                                            </div>
                                            
                                            <div class="payment_item">
                                                <div class="radion_btn">
                                                    <input type="radio" id="f-option5" name="paymentOption" value="cod" checked>
                                                    <label for="f-option5">Cash On Delivery</label>
                                                    <div class="check"></div>
                                                </div>
                                                <p>Pay the amount at your doorstep</p>
                                                <div class="radion_btn">
                                                    <input type="radio" id="f-option6" name="paymentOption" value="razorpay" checked>
                                                        <label for="f-option6">Razorpay</label>
                                                        <div class="check"></div>
                                                        <p>Total: ₹<span id="remainingPay"><%=total.cartTotal%></span></p>
                                                </div>
                                            </div>

                                            <div class="payment_item">
                                                <div class="radion_btn">
                                                    <label>Wallet Balance: ₹<span id="walletBalance"><%= walletBalance %></span></label>
                                                    <input type="radio" id="useWallet" onchange="updatePaymentAmount()" name="paymentOption" value="wallet_razorpay"> Use Wallet Balance
                                                    <p>Available wallet balance will be deducted from the total & pay the remaining using Razorpay</p>
                                                </div>
                                                <p>Remaining to Pay: ₹<span id="remainingPay"><%=total.cartTotal%></span></p>
                                            </div>
                                            
                                            <%if(address[0]){%>
                                                <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mx-auto d-block" style="width: 150px; border-radius: 10px; background-color: rgb(64, 110, 37); border-color: currentColor; color: white;" onclick="proceedToPayment()">Place Order</button>
                                            <%}else{%>
                                                <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mx-auto d-block" style="width: 150px;" disabled onclick="proceedToPayment()">Place Order</button>
                                            <%}%>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>    
                       
                    </div>
                </div>
                <%}else{%>
                    <div class="col-md-12 form-group p_star">
                        <button>Please Add An Address</button>
                    </div>
                <%}%> 
            </form>
        </div>
        </div>
    </div>
</section>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

function proceedToPayment() {
    event.preventDefault();
    // const checkoutData = document.getElementById('orderId')
    //  const checkoutData = $('#checkOut-form').serializeArray();
    // console.log(checkoutData,'jbvd')
    // const remainingPay = parseFloat(document.getElementById('remainingPay').innerText);
            // console.log("Remaining Amount:", remainingPay);
            // const checkoutData = $('#checkOut-form').serializeArray();
            
                // console.log(checkoutData,'jbvd')

    // checkoutData.push({ name: "finalAmount",});

    var aElement = document.querySelector('a[style="color: black;"]');
if (aElement) {
    var cartedName = aElement.textContent;
    console.log(cartedName); // This will log the value of cartedName
}

var middleSpan = document.querySelector('.middle');
if (middleSpan) {
    var quantity = middleSpan.textContent; // This will give you the text content of the middle span
    console.log('Quantity:', quantity);
}

var lastSpan = document.querySelector('.last');
if (lastSpan) {
    var carttotal = lastSpan.textContent; // This will give you the text content of the middle span
    console.log('total:',carttotal );
}

var subTotalElement = document.getElementById("subTotal");
var subTotalValue = subTotalElement.textContent;


var hiddenInputElement = document.querySelector('input[name="total"]');

if (hiddenInputElement) {
    // Get the value of the hidden input field
    var totalValue = hiddenInputElement.value;
    console.log("Total Value:", totalValue);
} else {
    console.log("Hidden input field with name 'total' not found");
}

var radioElement = document.getElementById("f-option4");
var radioElement1 = document.getElementById("f-option5");
var radioElement2 = document.getElementById("f-option6")
var radioElement3 = document.getElementById("useWallet");
if (radioElement.checked) {
    // Get the value of the checked radio button
    var selectedValue = radioElement.value;
    console.log("Selected Value:", selectedValue);

   
    
}else if(radioElement1.checked){

    var selectedValue = radioElement1.value;
    console.log("Selected Value:", selectedValue);
} 
else if(radioElement2.checked){

var selectedValue = radioElement2.value;
console.log("Selected Value:", selectedValue);
}else if(radioElement3.checked){

var selectedValue = radioElement1.value;
console.log("Selected Value:", selectedValue);
}  
else {
    console.log("Radio button is not checked");
}

   // Get the hidden input element by its id
var hiddenInputElement1 = document.getElementById("address");

if (hiddenInputElement1) {
    // Get the value of the hidden input field
    var addressValue = hiddenInputElement1.value;
    console.log("Address Value:", addressValue);
} else {
    console.log("Hidden input field with id 'address' not found");
}



let checkoutData={
address:addressValue,
payment_option:selectedValue,
total:totalValue,

}
// const arr = Object.entries(checkoutData).map(([key, value]) => ({ key, value }));
const remainingPay = parseFloat(document.getElementById('remainingPay').innerText);
checkoutData.finalAmount=remainingPay
// arr.push({ name: "finalAmount", value: remainingPay });
console.log(checkoutData,"arr")
    $.ajax({
        url: "/payment",
        method: 'POST',
        data: $.param(checkoutData),
        contentType: 'application/x-www-form-urlencoded',
        success: function (response) {
            console.log("success ajx")
             if (response.codStatus == true) {
                if(response.method == 'cod')
                {
                    location.href = '/success'
            }
                
            } 
            // if (response.orderStatus == true) {
            //     if(response.method === 'cod'){
            //         location.href = '/success';
            //     }
          
            else{
                        try {
                                // When calling the razorpay function, pass the remaining amount
                            const remainingPay = parseFloat(document.getElementById('remainingPay').innerText);
                            response.amount = remainingPay * 100; // Converting to paise
                            console.log("payment");
                            razorpay(response);
                        } catch (error) {
                            console.log(error.message)
                            // Swal.fire({
                            //     title: 'Error!',
                            //     text: error.message,
                            //     icon: 'error',
                            //     timer: 5000
                            // });
                        }
                    }
                },


            // else if (response.status == "OrderFailed") {
            //     Swal.fire({
            //         title: 'Order Failed!',
            //         text: 'Your Product is Out of Stock. Please Check after some time',
            //         icon: 'error',
            //         timer: 5000
            //     }).then(() => {
            //         location.href = '/'
            //     });
            // } else if (response.status == 'blocked') {
            //     Swal.fire({
            //         title: 'You are blocked',
            //         icon: 'error',
            //         timer: 5000
            //     });
            //     setTimeout(() => {
            //         window.location.href = "/logout"
            //     }, 5000);
            // } 
        
     
           
    })
}


function applyCoupon(total) {
    console.log('keri')
            event.preventDefault();
            let couponCode = document.getElementById('couponCode').value
            console.log(couponCode)
            $.ajax({
                url: '/verifyCoupon/' + couponCode,
                method: 'GET',
                success: (response) => {
                    console.log(response)
                    if (response.status == true) {

                        $.ajax({
                            url: '/applyCoupon/' + couponCode,
                            method: 'GET',
                            success: (response) => {
                                console.log(response, '---');
                                if (response.status == true) {
                                    document.getElementById('couponErr').style.color = '#19ff11'
                                    document.getElementById('couponErr').innerText = "Coupon Applied SuccessFully"
                                    // document.getElementById('subTotal').innerText = total - response.discountAmount
                                    document.getElementById('total').innerText = '₹' + Math.floor(total - response.discountAmount)
                                    document.getElementById('totalVal').value = Math.floor(total - response.discountAmount)
                                    document.getElementById('couponOffer').innerText = response.discount + '%'
                                    document.getElementById('discountPercentage').value = response.discount
                                    document.getElementById('discountAmount').value = Math.ceil(response.discountAmount)
                                } else {
                                    document.getElementById('couponErr').style.color = "#ff0707"
                                    document.getElementById('couponErr').innerText = response.message
                                }
                            }
                        })
                    } else {
                        document.getElementById('couponErr').style.color = "#ff0707"
                        document.getElementById('couponErr').innerText = response.message

                        setTimeout(function () {
                            location.reload()
                        }, 5000)
                    }

                }
            })
        }

 

        function updatePaymentAmount() {
            const total = parseFloat(document.getElementById('totalVal').value);
            let walletBalance = parseFloat(document.getElementById('walletBalance').innerText);
            const remainingPayElem = document.getElementById('remainingPay');

            if (document.getElementById('useWallet').checked) {
                const newTotal = total - walletBalance;
                remainingPayElem.innerText = newTotal > 0 ? newTotal.toFixed(2) : 0;
            } else {
                remainingPayElem.innerText = total.toFixed(2);
            }
        }


function razorpay(order) {
           
           var options = {
               "key": "rzp_test_ajZqvGvYrMzoyC", // Enter the Key ID generated from the Dashboard
               "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
               "currency": "INR",
               "name": "Grow It",
               "description": "Test Transaction",
               "image": "../images/logo.png",
               "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
               "handler": function (response) {
                   console.log(response, '++++++++++', order);
                   verifypayment(response, order)
               },

               "modal": {
                   "ondismiss": function () {
                       console.log('Payment window closed');
                       paymentFailed(order);
                   }
               },

               "prefill": {
                   "name": "Thasnim",
                   "email": "Thasni@example.com",
                   "contact": "7902750076"
               },
               "notes": {
                   "address": "Razorpay Corporate Office"
               },
               "theme": {
                   "color": "#3399cc"
               }
           }
           var rzp1 = new Razorpay(options)
           rzp1.open();
           //e.preventDefault()
       } 


       function verifypayment(payment, order, paymentId) {
            console.log('12121212121212', payment, order, paymentId, '-------------1212121212121212--');
            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    payment,
                    order,
                    paymentId
                },

                success: (response) => {
                    console.log("/vpayment ajx")
                    if (response.status) {
                        {
                            location.href = '/success'
                        }
                    } else {

                    }

                }
            })
        }


        function paymentFailed(order) {
                $.ajax({
                    url: '/paymentFailed',
                    method: 'post',
                    data: {
                        order
                    },

                    success: (response) => {
                        if (response.status) {
                            // Swal.fire({
                            //     title: 'Order Failed!',
                            //     text: 'Your order is failed.',
                            //     icon: 'error',
                            //     timer: 5000
                            // }).then(() => {
                            //     location.href = '/'
                            // })
                            location.href = '/failed'
                        } else {

                        }

                    }
                })
            }


</script>

<%- include('../public/includes/footer.ejs')%>