<%- include('../public/includes/header.ejs') %>

<section class="hero" >
   
    <div class="hero__slider owl-carousel" style="height: 600px;">
        <% banner.forEach((bannerItem)=> { %>
        <div class="hero__items set-bg" data-setbg="./product-images/create-images/<%= bannerItem.image %>" style="height: 600px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6 style="color: rgb(141, 194, 88);"><%= bannerItem.title %></h6>
                            <h2 style="color: rgb(241, 219, 227);">Expert curated-Plant Collections</h2>
                            <!-- <p style="color: coral;">A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p> -->
                            <a href="/displayproducts" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>

        <div class="hero__items set-bg" data-setbg="" style="height:600px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        
                        <div class="hero__text">
                            <h6 style="color: rgb(141, 194, 88);"></h6>
                            <h2 style="color: rgb(241, 219, 227);">Expert curated-Plant Collections</h2>
                            
                            
                            <a href="/displayproducts" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>

<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-4">
                <div clas="row">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="../public/assets/images/orchid.webp.crdownload" alt="" style="width:300px; height:500px; margin-right: 200px;">
                    </div>
                    <div class="banner__item__text">
                        <h2 style="padding-right: 200px;">Summer Collections 2023</h2>
                        <a href="/displayproducts">Shop now</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="../public/assets/images/romantic.webp" alt="" style="max-width: 600px; height:500px" >
                    </div>
                    <div class="banner__item__text">
                        <h2>Green Companions</h2>
                        <a href="/displayproducts">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="../public/assets/images/18A5154A-5C80-4E3F-B6C0-4F50D8CF1D12_1_201_a_480x (1).webp" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2 style="color:black" >Beautiful Flower plants</h2>
                        <a href="/displayproducts">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row product__filter">
            <% product.forEach((item)=>{ %>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                        <a href="/productPage?id=<%= item._id %>">
                    <div class="product__item__pic set-bg" data-setbg="./product-images/create-images/<%=item.images[0]%>">
                        <span class="label">New</span>
                    </div>
                </a>
                    <div class="product__item__text">
                        <h6><%=item.name %></h6>
                        <h5>₹<%=item.price %></h5>
                    </div>
                
                </div>
            </div>
            <% }) %>            
        </div>
    </div>
</section>


 <!-- Latest Blog Section Begin -->
 <section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span style="color: rgb(141, 194, 88)">Latest News</span>
                    <h2>Fashion New Trends</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../public/assets/images/Best-Medium-Light-Houseplants-Feature.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="userAssets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>Bringing the Green to Your Screen: Exploring the World of Online Plant Shops</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../public/assets/images/coffee-grounds-houseplants-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="userAssets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>How to use Coffee blends for your Greenery</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="../public/assets/images/Blog-featured-images-30.png"></div>
                    <div class="blog__item__text">
                        <span><img src="userAssets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>Meow-Meow, woof-woof!
                            PET FRIENDLY HOUSEPLANTS </h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<div class="flex-c-m flex-w w-full p-t-45">
    <div class="pagination">
      <% if (currentPage> 1) { %>
        <a href="/displayproducts?page=<%= currentPage - 1 %>&sort=<%= sortQuery %>"
          class="prev-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </a>
      <% } %>
      
      <% for (let i=1; i <=totalPages; i++) { %>
        <% if (i===currentPage) { %>
          <a href="/displayproducts?page=<%= i %>"
            class="active flex-c-m stext-10 cl5 size-20 bg2 bor1">
            <%= i %>
          </a>
        <% } else { %>
            <a href="/displayproducts?page=<%= i %>" class="flex-c-m stext-10 cl5 size-30 bg2 bor1">
              <%= i %>
            </a>
        <% } %>
      <% } %>
      
      <% if (currentPage < totalPages) { %>
        <a href="/displayproducts?page=<%= currentPage + 1 %>"
          class="next-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
        <% } %>
    </div>
  </div>

<%- include('../public/includes/footer.ejs') %>

