<%- include('./includes/header.ejs') %>

<!-- <section style="background-color: #ffffff;">
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Products</strong></h4> -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
          <div class="shop__sidebar">
              <div class="shop__sidebar__search">
                  <form action="/displayproducts">
                      <input type="text" placeholder="Search..." name="search">
                      <button type="submit"><span class="icon_search"></span></button>
                  </form>
              </div>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
                
                <div class="card">
                  <div class="card-heading">
                      <a data-toggle="collapse" data-target="#collapseTwo">Filter Price</a>
                  </div>
                  <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                      <div class="card-body">
                          <div class="shop__sidebar__brand">
                              <ul>
                                  <li class="min" style="color:black"><a href="/displayproducts?minPrice=1&&maxPrice=999">₹ 1 to ₹ 999</a></li>
                                  <li><a href="/displayproducts?minPrice=1000&&maxPrice=4999">₹ 1000 to ₹ 4999</a></li>
                                  <li><a href="/displayproducts?minPrice=5000&&maxPrice=9999">₹ 5000 to ₹ 9999</a></li>
                                  <li><a href="/displayproducts">All</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
               
                <div class="card">
                    <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseThree">Filter</a>
                    </div>
                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shop__sidebar__price">
                                <ul>
                                    <li><a href="/displayproducts?sort=price_asc">Low to High</a></li>
                                    <li><a href="/displayproducts?sort=price_desc">Hight to low</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

  <div class="col-lg-9">
    <div class="row">
    <% product.forEach((item)=>{ %>
     
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card" class="card" style="border-radius: 10px; border-color: rgb(9, 88, 9); height:500px">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <a href="/productPage?id=<%= item._id %>">
            <img src="./product-images/create-images/<%=item.images[0]%>"  alt="IMG-PRODUCT" class="image" style="border-radius: 5px;"
              class="w-100" />
            </a>
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-primary ms-2">New</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: white"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3" style="color: rgb(10, 63, 10);"><%=item.name %></h5>
            </a>
            <a href="" class="text-reset">
              <p><%=item.category.name %></p>
            </a>
            
            <% if(item.discountedPrice>0){ %>
              <h6>
                <span class="original-price" ><%= item.price%></span>
              </h6>
              <h6><i class="fa fa-inr" aria-hidden="true"> </i>
                <%=item.discountedPrice%>
              </h6>
            <% }else{ %>
          <h6><i class="fa fa-inr" aria-hidden="true"> </i>
            <%= item.price%>
          </h6>
          <% } %>
            
            <!-- <h6 class="original-price">₹<%=item.price %></h6> -->
            <% if (item.stock) { %>
              <h5>In Stock</h5>
              <% } else { %>
                <h5 class="out-of-stock">Out of Stock</h5>
                <% } %>
          </div>
        </div>
      </div>


      <% }) %> 
   </div>
  </div>
  <div class="flex-c-m flex-w w-full p-t-45">
    <div class="pagination">
      <% if (currentPage> 1) { %>
        <a href="/displayproducts?page=<%= currentPage - 1 %>&sort=<%= sortQuery %>"
          class="prev-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </a>
      <% } %>
      
      <% for (let i=1; i <=totalPages; i++) { %>
        <% if (i===currentPage) { %>
          <a href="/displayproducts?page=<%= i %>&sort=<%= sortQuery %>"
            class="active flex-c-m stext-10 cl5 size-20 bg2 bor1">
            <%= i %>
          </a>
        <% } else { %>
            <a href="/displayproducts?page=<%= i %>&sort=<%= sortQuery %>" class="flex-c-m stext-10 cl5 size-30 bg2 bor1">
              <%= i %>
            </a>
        <% } %>
      <% } %>
      
      <% if (currentPage < totalPages) { %>
        <a href="/displayproducts?page=<%= currentPage + 1 %>&sort=<%= sortQuery %>"
          class="next-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
        <% } %>
    </div>
  </div>
    </div>
  </div>
</section>

<%- include('./includes/footer.ejs') %>
